{% extends 'BookingBundle::layout.html.twig' %}

{% block content %}
    <a class="btn btn-mini info edit" title="Exportar" href="{{ path('report_custom_invoice_pdf',{id:booking}) }}"><i class="icon-share"></i></a>
    {% for item in list %}
        {% include 'ReportBundle:Default:facturastouritem.html.twig' with {'item' : item } %}
        </br></br>
    {% endfor %}
{% endblock content %}