<div class="panel-body" >
    <ul class="nav nav-tabs">
        <li class="active"><a href="#add" data-toggle="tab" class="add"><i class="icon-h-sign"></i></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="add">
            <select class="tipoHab form-control" data-ng-model="tipoHab"></select>
            <button class="btn btn-mini pull-right"><i class="icon-plus"></i></button>
            <div class="typesHabs" style="display: none">
                <ul class="habList" ></ul>
            </div>
        </div>

    </div>
</div>